<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Biography
  </h2>
</header>
<nav>
  <a href="#/home">Home</a>
  <a href="#/ceramicsterms">Ceramics Terms</a>
  <a href="#/contact">Contact</a>
  <a href="#/gallery">Gallery</a>
  <a href="#/projects">Projects</a>

</nav>
<main>
  <p>
    I was raised in Auburn, Washington, and went to Auburn High.
    It was not until the last semester of my Senior year at the University of
    Puget Sound that I tried pottery. I was drawn in by the wheel, and the
    tangible results that were available. Ken Stevens was my first professor.
    I came back the next summer to take another throwing class at UPS.
  </p>
  <p>
    In 2007 I returned to ceramics, taking classes at Green River Community College.
    I took classes from Ed Brannon, John A. Taylor, and Paul Metivier.
    I also learned a great deal from the Instructional Tech, Vic Rivet.
    It was at Green River that I really started to get a feel for clay and how to
    fire a gas kiln to high temperatures.
  <p>
  </p>
    In 2010 I left Green River and started working with Elinor Maroney at her
    Studio in Covington, Washington. Elinor has been working in clay for more
    than 45 years and is a wonderful artist. I have learned immensely from
    Elinor, and in turn I assist with the heavy lifting. I am refining the design
    of a new soda kiln at the Studio, so we can experiment with atmospheric
    glazing and learn the fine details of this challenging process.
  </p>
