<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Ceramics Terms
  </h2>
</header>
<nav>
  <a href="#/home">Home</a> |
  <a href="#/bio">Biography</a> |
  <a href="#/contact">Contact</a> |
  <a href="#/gallery">Gallery</a> |
  <a href="#/projects">Projects</a>

</nav>
<main>
  <h3>A brief explanation of ceramics terms.</h3>
  <p>
    I often find that people are interested in ceramics and pottery, but are
    confused by the terms used. So, here is a short list of common terms and
    methods.
    <br>
    <ul>
      <li>
        High Fired - The temperature range of around 2250 to 2400 degrees Fahrenheit.
      </li>
      <li>
        Low Fired - The wide temperature range of around 1400 to 2000 degrees Fahrenheit.
      </li>
      <li>
        Cone - Potters and ceramists often say that something is fired to cone 10.
        The cone system is a measurement of both heat and time, and is a small
        cone that softens and bends at a chemically reliable point. This allows
        the person firing the kiln to see how much heat work has been done to
        the ware in the kiln.
        For more information, please see the Orton Ceramic website:
          <a href="https://www.ortonceramic.com/resources/product/pyrometric-cones/orton-cone-chart/">
            https://www.ortonceramic.com/resources/product/pyrometric-cones/orton-cone-chart/</a>
      </li>
      <li>
        Reduction - The atmosphere of a kiln that is lacking the oxygen to completely
        burn. This causes the fuel to react with the oxygen in the glaze and clay.
      </li>
      <li>
        Oxidation - The atmosphere of a kiln that has ample oxygen to burn the fuel.
        This is also typical of electric powered kilns.
        The ware in the kiln is also oxidized and is typically lighter in color than
        in reduction.
      </li>
      <li>
        Porcelain - This type of clay is generally white to grey in color, and
        develops a strong tight body when fired. Natural porcelain is typically
        high fired.
      </li>
      <li>
        Stoneware - This type of clay is generally tan to brown, with the color
        coming from the inclusion of natural metals and minerals. Most natural
        stoneware is high fired.
      </li>
      <li>
        Kiln - Pronounced both "kill" and "kilnn", this is a structure that is
        able to withstand high temperatures for extended periods of time and is
        used to fire clay, turning it into ceramics.
      </li>
      <li>
        Glaze - A glaze is often added to a ceramics piece for durability,
        aesthetics, or functionality. The glaze layer over the clay is often
        glassy and very strong.
      </li>
      <li>
        Shino - A type of glaze that came from Japan, and is usually white to red.
        A highly varied glaze, the atmosphere is very important for how the color
        turns out. Shino glazes are high fired.
      </li>
      <li>
        Celadon - A type of glaze that came from China, Korea, and Japan, and
        typically is a shade of green. There are also Celadons that are shades of
        blue, and ones that are clear or white. Most Celadons are high fired in
        reduction.
      </li>
      <li>
        Raku - A style of firing that was developed in Japan for the tea ceremony.
        The ceramic ware is low fired, and historically under-fired to have a
        softer feel and sound. This generally means that Raku ware is not food
        safe by modern standards. The current American style of Raku is mostly
        decorative and uses a post-firing reduction to create lustrous metallic
        glazes and deep blacks.
      </li>
      <li>
        Soda Fired - A type of firing where the ceramic ware is glazed by the
        introduction of baking soda or soda ash at high fire temperatures. This
        glazes the whole interior of the kiln with sodium, which is very reactive
        at high temperatures. The kiln must be specially prepared for soda firing,
        or the bricks will be eaten away by the sodium.
        This style of firing came from a search for an alternative to salt firing,
        which is very similar in methods, but has a different look and behavior.
      </li>
      <li>
        Tenmoku or Temmoku - A glaze that is dark brown and black in most cases,
        named by Japanese Tea Masters for Tea Bowls (Chawan) from the Mountain of
        Heaven area in China. While most of my Tenmokus are fired in reduction,
        there are some Tenmoku glazes that only work in oxidation.
      </li>
    </ul>
  </p>
</main>
