<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Contact
  </h2>
</header>
<nav>
  <a href="#/home">Home</a> |
  <a href="#/bio">Biography</a> |
  <a href="#/ceramicsterms">Ceramics Terms</a> |
  <a href="#/gallery">Gallery</a> |
  <a href="#/projects">Projects</a>
</nav>
<main>
  <p>
    The best way to contact me is through my Facebook page:
      <a href="https://www.facebook.com/AaronFilsonCeramics">Aaron Filson Ceramics</a>

    I know that not everyone has Facebook or feels comfortable with it, so a good
    alternative is to use email:
      aaronfilson @ gmail.com

    My twitter and instagram accounts are mostly dormant, but here they are:
      @aaronfilson

      aaronmakespottery
  </p>
</main>
