<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Contact
  </h2>
</header>
<nav>
  <a href="#/home">Home</a>
  <a href="#/bio">Bio</a>
  <a href="#/ceramicsterms">Ceramics Terms</a>
  <a href="#/gallery">Gallery</a>
  <a href="#/projects">Projects</a>
</nav>
<main>
  <p>
    The gallery is a small collection of work that I have done in ceramics.
    It is organized by time, roughly newer to older.
  </p>

  <ul>
    <li class="fullresolution">
      <img src="images/img1.jpg" alt="A medium bowl, glazed with shino" style="width: 20%; height: 20%;">
    </li>
  </ul>
</main>
