<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Gallery
  </h2>
</header>
<nav>
  <a href="#/home">Home</a> |
  <a href="#/bio">Biography</a> |
  <a href="#/ceramicsterms">Ceramics Terms</a> |
  <a href="#/contact">Contact</a> |
  <a href="#/projects">Projects</a>
</nav>
<main>
  <p>
    The gallery is a small collection of work that I have done in ceramics.
    It is organized by time, roughly newer to older.
  </p>

  <ul>
    <li class="fullresolution">
      <img src="images/img1.jpg" alt="A medium bowl, glazed with shino" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g1.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g2.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g3.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g4.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g5.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g6.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g7.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g8.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g9.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g10.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g11.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g12.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g13.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g14.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g15.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g16.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g17.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g18.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g19.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g20.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g21.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g22.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g23.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g24.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g25.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g26.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g27.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g28.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g29.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g30.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g31.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g32.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g33.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g34.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g35.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g36.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g37.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g38.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g39.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g40.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g41.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g42.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g43.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g44.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g45.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g46.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g47.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g48.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g49.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g50.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g51.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g52.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g53.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g54.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g55.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g56.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g57.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g58.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g59.jpg" alt="" style="width: 20%; height: 20%;">
    </li>
    <li class="fullresolution">
      <img src="images/gallery/g60.jpg" alt="" style="width: 20%; height: 20%;">
    </li>


  </ul>
</main>
