<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Projects
  </h2>
</header>
<nav>
  <a href="#/home">Home</a> |
  <a href="#/bio">Biography</a> |
  <a href="#/ceramicsterms">Ceramics Terms</a> |
  <a href="#/contact">Contact</a> |
  <a href="#/gallery">Gallery</a>
</nav>
<main>
  <p>
    The projects I am working on now. With a small archive footnote section.
  </p>

  <ul>
    <li class="project1">
      A small project to house the propane updraft kiln at my studio in Tacoma.

    </li>
    <li class="project2">
      The massive and ongoing project to build and operate a soda kiln. We have
      recently started salting the kiln, which means it will forever be a salt/Soda
      kiln. A wide range of results have been delivered into my hands from this
      project. Expensive failures, dull and bland surfaces, falling flaming doors,
      and ruining pieces have mostly changed over to exciting textures and dramatic
      flashes of color. It continues to suffer from being too tall.

    </li>
  </ul>
</main>
<footnote>
  <ol>
    Foot notes:
    <li>
      A small project to try smoke firing with lawn clippings.
    </li>
    <li>
      Wood ash glazing trials
    </li>
    <li>
      highly textured pieces
    </li>
    <li>
      greek helenic era style amphoras and drinking vessels
    </li>
  </ol>
</footnote>
