<header>
  <h1>
    Welcome to the website for Aaron Filson Ceramics!
  </h1>
  <h2>
    Projects
  </h2>
</header>
<nav>
  <a href="#/home">Home</a> |
  <a href="#/bio">Biography</a> |
  <a href="#/ceramicsterms">Ceramics Terms</a> |
  <a href="#/contact">Contact</a> |
  <a href="#/gallery">Gallery</a>
</nav>
<main>
  <p>
    The projects I have worked on- mostly kilns.
  </p>

  <ul>
    <li class="project1">
      A small project to house the propane updraft kiln at my studio in Tacoma.

      <img src="images/currentproject/p1-1.jpg" alt="">

      <img src="images/currentproject/p1-2.jpg" alt="">

      <img src="images/currentproject/p1-3.jpg" alt="">

      <img src="images/currentproject/p1-4.jpg" alt="">

      <img src="images/currentproject/p1-5.jpg" alt="">

      <img src="images/currentproject/p1-6.jpg" alt="">

      <img src="images/currentproject/p1-7.jpg" alt="">

      <img src="images/currentproject/p1-8.jpg" alt="">

      <img src="images/currentproject/p1-9.jpg" alt="">

    </li>
    <li class="project2">
      The project to build and operate a soda kiln. We have
      salted the kiln, which means it will forever be a salt/Soda
      kiln. A wide range of results have been delivered into my hands from this
      project. Expensive failures, dull and bland surfaces, falling flaming doors,
      and ruining pieces have mostly changed over to exciting textures and dramatic
      flashes of color. It continues to suffer from being too tall.

      <img src="images/projects/s1.jpg" alt="">
      <img src="images/projects/s2.jpg" alt="">
      <img src="images/projects/s3.jpg" alt="">
      <img src="images/projects/s4.jpg" alt="">
      <img src="images/projects/s5.jpg" alt="">
      <img src="images/projects/s6.jpg" alt="">
      <img src="images/projects/s7.jpg" alt="">
      <img src="images/projects/s8.jpg" alt="">
      <img src="images/projects/s9.jpg" alt="">
      <img src="images/projects/s10.jpg" alt="">
      <img src="images/projects/s11.jpg" alt="">
      <img src="images/projects/s12.jpg" alt="">
      <img src="images/projects/s13.jpg" alt="">
      <img src="images/projects/s14.jpg" alt="">
      <img src="images/projects/s15.jpg" alt="">
      <img src="images/projects/s16.jpg" alt="">
      <img src="images/projects/s17.jpg" alt="">
      <img src="images/projects/s18.jpg" alt="">
      <img src="images/projects/s19.jpg" alt="">
      <img src="images/projects/s20.jpg" alt="">
      <img src="images/projects/s21.jpg" alt="">
      <img src="images/projects/s22.jpg" alt="">
      <img src="images/projects/s23.jpg" alt="">
      <img src="images/projects/s24.jpg" alt="">
      <img src="images/projects/s25.jpg" alt="">
      <img src="images/projects/s26.jpg" alt="">
      <img src="images/projects/s27.jpg" alt="">
      <img src="images/projects/s28.jpg" alt="">
      <img src="images/projects/s29.jpg" alt="">
      <img src="images/projects/s30.jpg" alt="">
      <img src="images/projects/s31.jpg" alt="">
      <img src="images/projects/s32.jpg" alt="">
      <img src="images/projects/s33.jpg" alt="">
      <img src="images/projects/s34.jpg" alt="">
      <img src="images/projects/s35.jpg" alt="">
      <img src="images/projects/s36.jpg" alt="">
      <img src="images/projects/s37.jpg" alt="">
      <img src="images/projects/s38.jpg" alt="">
      <img src="images/projects/s39.jpg" alt="">
      <img src="images/projects/s40.jpg" alt="">
      <img src="images/projects/s41.jpg" alt="">
    </li>
  </ul>
</main>
<footnote>
  <ol>
    Foot notes:
    <li>
      A small project to try smoke firing with lawn clippings.
    </li>
    <li>
      Wood ash glazing trials
    </li>
    <li>
      highly textured pieces
    </li>
    <li>
      greek helenic era style amphoras and drinking vessels
    </li>
  </ol>
</footnote>
